.services {
  text-align: center;
  /* padding: 2rem; */
  background-color: #fff;
  color: #000;
}
.Services-title{
  text-decoration: underline;
    text-decoration-color: #ffc700;
    color: black;
}

.services-grid {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem; /* Space between cards */
 
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* text-align: left; */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  gap: 2rem;
}
.service-icon {
 
  font-size: 3rem; /* Larger icon size */
  color: #000;
  
}

.service-card:hover {
  transform: translateY(-5px); /* Hover effect */
}
.view-all{
  background-color: #ffc700;
  border-radius: 20px;
}
@media(max-width: 900px) {
  .services-grid{
    width: 1o0px;
  }
  
}